* {
	margin: 2;
	padding: 2;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
body {
	width: 100%;
	margin: 0px auto;
	font-family: 'Abel', sans-serif;
	background: white;
	color: black;
	opacity: 90%;
	
}
.contenedor1 {
	text-align: center;
	width:  50%;
	background: #00072D;
	padding: 20px;
	float: left;
	border: 1px;
    margin: auto;
    border: 10px solid black;
}
.contenedor2 {
	text-align: center;
	width:  50%;
	background: #001C55;
	padding: 20px;
	float: right;
	border: 1px;
    margin: auto;
    border: 10px solid black;
}
.contenedor3 {
	text-align: center;
	width: 50%;	
	background: #0A2472;
	padding: 20px;
	float: right;
	border: 1px;
    margin: auto;
    border: 10px solid black;
}
.contenedor4 {
	text-align: center;
	width: 50%;
	background: #001C55;
	padding: 20px;
	float: right;
	border: 1px;
    margin: auto;
    border: 10px solid black;
}

form p {
	text-align: center;
	margin-bottom: 20px;
	font-size: 30px;
}

input[type="text"]{
	width: 100%;
	margin-bottom: 20px;
	padding: 20px;
	text-align: center;
}

form .btn {
	width: 100%;
	background: #0868a9;
	color: #fff;
	border:none;
	cursor: pointer;
	font-size: 16px;
	text-align: center;
	padding: 20px;
	display: inline-block;
	text-decoration: none;
}

.contenedor1, .contenedor2,.contenedor3,.contenedor4{
	color: white;
}
.carac{
	background-color: #A6E1FA;
	border: 2px;
	width: 700px;
    margin: auto;
    border: 10px solid black;
}
.titulo{
	background-color: white;
	color: black;
	
    
}
.TITULOS{
	background-color: white;
	color: black;
	
}
footer{
    float: left;
    width: 101%;
    margin-left: -1%;
}
.Footer{
    background-color: #001C55;
    color: #f0f8ff;
    padding: 20px;
}
.Footer p{
    display: inline-block;
    padding: 30px;
}
.Main{
	text-align: center;
    float: right;
    padding: 10% 30% 10% 20%;
}
header{
    position: fixed;
    background-color: #0E6BA8;
    margin-top: -5%;
    margin-left: -5%;
    margin-bottom: 5%;
    width: 110%;
    height: 15%;
}
nav{
    position: absolute;
    width: 100%;
    left: -1200px;
}
nav a{
    color: black;
	text-decoration: none;
}
header li{
    list-style: none;
    padding: 4%;
    font-weight: bold;
    cursor: pointer;
    float: left;
}
img{
	width: 60%;
	height: auto;
}
.MAIN{
	
    width: 50%;
	margin-left:30%;
	
}