* {
	margin: 2;
	padding: 2;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap'); 
body {
    float: left;
	font-family: 'Abel', sans-serif;
	background: white;
	color: black;
}
.contenedor{
    text-align: center;
    background-color: #A6E1FA;
	border: 1px;
	width: 700px;
    margin: auto;
    border: 10px solid black;
}
.TITULOS{
	background-color: white;
	color: black;
}
.titulo{
	background-color: white;
	color: black;	
	font-family: 'Abel', sans-serif;
}
.caja{
	width: 200px;
	height: 200px;
	padding: 20px 10px;
	text-align: center;
	font-size: 26px;
	margin: 10px 0px;
	background: green;
	color: white;
	display: inline-block;
}
.naranja{
	background-color: darkorange;
}
footer{
    float: left;
    width: 101%;
    margin-left: -1%;
}
.Footer{
    background-color: #001C55;
    color: aliceblue;
    padding: 20px;
}
.Footer p{
    display: inline-block;
    padding: 30px;
}
header{
    position: fixed;
    background-color: #0E6BA8;
    margin-top: -5%;
    margin-left: -5%;
    margin-bottom: 5%;
    width: 110%;
    height: 15%;
}
nav{
    position: absolute;
    width: 100%;
    left: -1200px;
}
nav a{
    color: black;
	text-decoration: none;
}
a{
    color: white;
    text-decoration: none;
}
header li{
    list-style: none;
    padding: 4%;
    font-weight: bold;
    cursor: pointer;
    float: left;
}
img{
	width: 60%;
	height: auto;
}
.MAIN{
	
    width: 50%;
	margin-left:30%;
	
}